section {
  text-shadow: 0.15rem 0.15rem 0.3rem black;
  border-radius: 5vh;
}

.title-page h1 {
  font-size: 2em;
  padding: 0.25em;
  text-transform: uppercase;
}

.credits {
  padding: 0.5em;
  text-align: left;
  justify-content: flex-start;
}
.credits ul {
  font-size: 0.75em;
  line-height: 1.2;
}

.highlighted {
  position: relative;
  color: black;
  display: block;
  padding: 0.125em 0.25em;
  margin: 0.25em auto;
  text-shadow: none;
}
.highlighted:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FF0;
  z-index: -1;
  opacity: 0.8;
}

table.yesnomaybe {
  border: 0px solid transparent;
  margin: auto 0.5rem auto auto;
}

table.yesnomaybe .yes, table.yesnomaybe .no, table.yesnomaybe .maybe {
  width: 1em;
  padding: 0.1em;
  background-clip: padding-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
table.yesnomaybe .yes {
  background-image: url(../libs/svg/2705.svg);
}
table.yesnomaybe .no {
  background-image: url(../libs/svg/274e.svg);
}
table.yesnomaybe .maybe {
  background-image: url(../libs/svg/2753.svg);
}

@keyframes vibrate {
  0% { transform: translate3d(-0.03em, -0.03em, 0); }
  25% { transform: translate3d(0.03em, 0em, 0); }
  50% { transform: translate3d(-0.03em, 0.03em, 0); }
  75% { transform: translate3d(0.03em, 0em, 0); }
}

.vibrate {
  animation: 0.1s steps(4) 0s infinite alternate vibrate;
}

.coins {
  display: none;
  margin-top: 0.5em;
}

.coins > i {
  display: inline-block;
  font-size: 2em;
}

i.cc {
  text-shadow: 0 0 2em black;
}
